YOUTUBE_CLIENT_SECRETS=./credentials/client_secret.json
YOUTUBE_TOKEN_JSON=./credentials/token.json
YOUTUBE_UPLOAD_PRIVACY=unlisted
YOUTUBE_CATEGORY_ID=22
YOUTUBE_CHANNEL_TITLE=My Channel
VIDEO_DOWNLOAD_DIR=/mnt/external_drive/video-downloads
VIDEO_NORMALIZED_DIR=/mnt/external_drive/video-normalized
VIDEO_MIN_FREE_GB=25
